{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>TRFS Transport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <!-- NAVBAR -->
    {% include 'clients/partials/navbar.html' %}

    <!-- CONTENT -->
    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    {% include 'clients/partials/footer.html' %}


<script>
document.addEventListener("DOMContentLoaded", function () {

    const toggle = document.getElementById("menu-toggle");
    const nav = document.querySelector(".nav-links");

    // toggle menu mobile
    toggle.addEventListener("click", () => {
        nav.classList.toggle("active");
    });

    // fermer menu au clic lien
    document.querySelectorAll(".nav-links a").forEach(link => {
        link.addEventListener("click", () => {
            nav.classList.remove("active");
        });
    });

    // scroll effect header
    const header = document.querySelector(".header");

    window.addEventListener("scroll", function () {
        if (window.scrollY > 50) {
            header.classList.add("scrolled");
        } else {
            header.classList.remove("scrolled");
        }
    });

});
</script>
{% if messages %}

<div class="flash-wrapper">

    {% for message in messages %}

        <div class="flash-message {{ message.tags }}">
            {{ message }}
        </div>

    {% endfor %}

</div>

{% endif %}
{% if messages %}

<div class="flash-wrapper">

    {% for message in messages %}

        <div class="flash-message {{ message.tags }}">
            {{ message }}
        </div>

    {% endfor %}

</div>

{% endif %}
</body>
</html>